{% extends 'base.html.twig' %}

{% block content %}
<ol class="breadcrumb idea-breadcrumbs">
    <li>
        <a href="{{ path('idea_list') }}">Back to all ideas</a>
    </li>
</ol>
<hr />

<h1 id="idea-title">{{ idea.title }}</h1>
<h4 id="idea-author">by {{ idea.username }} at {{ idea.createdAt|date('Y-m-d') }}</h4>
<p>{{ idea.description }}</p>

<p id="idea-rank">
    <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        Out of my head excited!
    </button><br>
    <button type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        Awesome
    </button><br>
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        Nice
    </button><br>
</p>

<hr />


{% endblock %}
